.coffeeDrawselfOn, .coffeeDrawselfOff {
    max-width: 250px;
    max-height: 375px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
}

.coffeeDrawselfOn path, .coffeeDrawselfOff path {
    animation-play-state: running;
    stroke-dasharray: 1547 1547;
    stroke-dashoffset: 0;
    animation: pathAnimation 12s linear infinite;
}

.coffeeDrawselfOff path {
    animation-play-state: paused;
}

@keyframes pathAnimation {
    0% {
        stroke-dashoffset: 0;
    }
    0.1% {
        stroke-dashoffset: 1547;
    }
    95%, 100% {
        stroke-dashoffset: 0;
    }
}