.canvas {
    display: block;
}

.defaultImage {
    display: block;
}

.defaultImageHidden {
    display: none;
}

.container {
    overflow-x: scroll;
    padding: 0.5rem 0;
}

.controls {
    padding-top: 0.5rem;
}

.inputControl {
    margin: 0 0.5rem;
}