body {
    --color-text: var(--darkgrey);
    --color-bg: var(--white);
    --color-primary: var(--skyblue);
    --color-secondary: var(--darkgrey);
    --color-tertiary: var(--lightgrey);
}

body.dark {
    --color-text: var(--white);
    --color-bg: var(--darkblue);
    --color-primary: var(--skyblue);
    --color-secondary: var(--white);
    --color-tertiary: var(--ldarkblue);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

button {
    color: var(--white);
    background-color: var(--color-primary);
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid var(--darkgrey);
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.blueLink, .footnote-ref, .footnote-backref {
    color: var(--color-primary);
    text-decoration: none;
    background-image: linear-gradient(to top, var(--color-primary), var(--color-primary) 50%, transparent 50%, transparent);
    background-position: 0% 0%;
    background-size: 100% 200%;
    transition-duration: 0.5s;
}

.blueLink:hover, .footnote-ref:hover, .footnote-backref:hover {
    color: var(--white);
    background-position: 0 100%;
}