body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

p {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.blueLink, .footnote-ref, .footnote-backref {
    color: var(--skyblue);
    text-decoration: none;
    background-image: linear-gradient(to top, var(--skyblue), var(--skyblue) 50%, transparent 50%, transparent);
    background-position: 0% 0%;
    background-size: 100% 200%;
    transition-duration: 0.5s;
}

.blueLink:hover, .footnote-ref:hover, .footnote-backref:hover {
    color: var(--white);
    background-position: 0 100%;
}