body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}