:root {
    --skyblue: #00c1c1;
    --blue: #006699;
    --darkblue: #09616c;
    --darkgrey: #696969;
    --lightgrey: #ebebe0;
    --subtlegrey: #f0f3f3;
    --orange: #FF6600;
    --darkorange: #CC3300;
    --white: #fff;
    --darkgreen: #357a55;
    --darkpurple: #282a36;
  }