:root {
    --skyblue: #00a3a3;
    --darkgrey: #696969;
    --lightgrey: #ebebe0;
    --white: #ffffff;
    --darkblue: #16202c;
    --ldarkblue: #273342;

    --color-text: var(--darkgrey);
    --color-bg: var(--white);
    --color-primary: var(--skyblue);
    --color-secondary: var(--darkgrey);
    --color-tertiary: var(--lightgrey);

    
    /* --color-text: var(--white);
    --color-bg: var(--darkblue);
    --color-primary: var(--skyblue);
    --color-secondary: var(--white);
    --color-tertiary: var(--ldarkblue); */
   
}