.postContainer {
    display: grid;
    grid-template-columns: 
    1fr 
    minmax(18rem, 46rem) 
    1fr;
}

.post {
    padding: 15px;
    grid-column: 2 / span 1;
}

.footnote-ref, .footnote-backref {
    color: var(--color-primary);
    text-decoration: none;
    background-image: linear-gradient(to top, var(--color-primary), var(--color-primary) 50%, transparent 50%, transparent);
    background-position: 0% 0%;
    background-size: 100% 200%;
    transition-duration: 0.5s;
}

.footnote-ref:hover, .footnote-backref:hover {
    color: var(--white);
    background-position: 0 100%;
}

.post h2 {
    color: var(--color-primary);
    font-weight: 900;
    margin: 0;
}

.post p {
    margin: 1rem 0;
}

.post button {
    color: var(--white);
    background-color: var(--color-primary);
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid var(--darkgrey);
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

.post button:hover {
    transition-duration: 0.5s;
    background-color: var(--darkblue);
}

.post button:active {
    position: relative;
    top:1px;
}