
.logo {
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
}

.header {
    background-color: var(--lightgrey);
}

.navBarBrand {
    display: flex;
}

.navBarBurger {
    cursor: pointer;
    display: none;
    padding: 1rem 1.25rem;
    margin-left: auto;

    &:hover {
        background: var(--grey);
    }
}

.navBarBurgerItem {
    width: 2rem;
    height: 0.25rem;
    background-color: var(--darkgrey);
    margin: 0.375rem auto;
}

.navBar {
    display: flex;
    align-items: center;
}

.navBarMenu {
    margin-left: 2rem;
}

.navBarMenu {
    text-align: center;
}

.navBarItem {
    font-size: 1.2rem;
    padding: 1.5625rem 1rem;
    color: var(--skyblue);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background: var(--grey);
    }
}

@media screen and (max-width: 1023px){
    .navBar{
        display: block;
    }

    .navBarBurger {
        display: block;
    }

    .navBarItem {
        display: block;
    }

    .navBarMenu {
        margin-left: 0;
    }
}