:root {
    --skyblue: #00c1c1;
    --darkgrey: #696969;
    --grey: #E0E0E0;
    --lightgrey: #ebebe0;
}

.logo {
    width: 4rem;
    height: 4rem;
    padding: 0.25rem;
}

.header {
    background-color: var(--lightgrey);
}

.navBarBrand {
    display: flex;
}

.navIconDiv {
    cursor: pointer;
    display: none;
    width: 4.5rem;
    height: 4.5rem;
    margin-left: auto;
    color: var(--darkgrey);
}

.navIconDiv:hover {
    background: var(--grey);
}

.navIcon{
    margin: auto;
}

.navBar {
    display: flex;
    align-items: center;
}

.navBarMenu, .navBarMenuActive {
    margin-left: 2rem;
    text-align: center;
}

.navBarItem {
    font-size: 1.2rem;
    padding: 1.5625rem 1rem;
    color: var(--skyblue);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.navBarItem:hover {
    background: var(--grey);
}

@media screen and (max-width: 1023px){
    .navBar{
        display: block;
    }

    .navIconDiv {
        display: flex;
    }

    .navBarItem {
        display: block;
    }

    .navBarMenu {
        display: none;
    }

    .navBarMenuActive {
        margin-left: 0;
    }
}