.postListItem {
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

.postListItem:hover {
    background: var(--color-tertiary);
    transition-duration: 0.5s;
}

.postLink {
    display: block;
    text-decoration: none;
    max-width: 700px;
    margin: 0 auto;
    color: var(--color-primary);
}

.postTitle {
    margin: 0;
    font-weight: 900;
}

.postMeta {
    font-weight: 600;
}

.postSubtitle {
    color: var(--color-text);
}

.postImage {
    padding: 0.5rem;
    display: block;
    height: 16rem;
    margin: 0 auto;
}