.sidebar, .sidebarOpen {
    height: 100%;
    background-color: var(--darkgrey);
    box-shadow: 1px 0px 7px rgba(0,0,0,0.5);
    width: 70%;
    max-width: 15rem;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 200;
    display: flex;
    flex-direction: column;
    transform: translateX(-110%);
    transition: transform 0.3s ease-out;
}

.sidebarOpen {
    transform: translateX(0);
}

.sidebarItem {
    font-size: 1.5rem;
    color: var(--skyblue);
    padding: 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.sidebarItem:hover {
    background-color: var(--grey);
}

@media(min-width: 1023px){
    .sidebarOpen {
        transform: translateX(-110%);
    }
}