.footer {
    background-color: var(--lightgrey);
    padding: 2rem 0;
    font-size: 1.2rem;
    color: var(--darkgrey);
    text-align: center;
}

.socialIcons{
    margin: auto;
}

.socialIcon {
    color: var(--darkgrey);
    margin: 0.5rem;
}

.socialIcon:hover {
    color: var(--skyblue);
}