.paginator {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.2rem;
}
        
.paginatorList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.paginatorLink, .paginatorLinkActive {
    text-decoration: none;
    color: var(--color-primary);
    display: block;
    padding: 0.5rem 0.75rem;
}

.paginatorLinkActive{
    background-color: var(--color-primary);
    color: var(--color-bg);
    border-radius: 0.5rem;
}